:root{
  --white: #fff;
  --blue-900: #0F1424;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
 background: var(--blue-900);
 color: var(--white);
 -webkit-font-smoothing: antialiased;
 
}

body, input, textarea, button {
 font-family: 'Palanquin', sans-serif;
 font-weight: 400;
 font-size: 1rem;
}